.btn {
    transition: all 0.25s;
}

.btn-outline {
    font-size: 1.6rem;
    padding: 14px 30px;
    color: $main-color;
    border: 2px solid $main-color;
    border-radius: 3px;

    &:hover {
        color: $text-color;
        background-color: $main-color;
    }
}