// Defined.
$white: #fff;
$black: #000;

$rich-black-fogra-29: #0f1524;
$turquoise: #41d3bdff;
$lavender-web: #dde3f8;
$slate: #8892b0;

// Names.
$main-color: $turquoise;
$text-color: $lavender-web;
$heading-color: $turquoise;
$bg-color: $rich-black-fogra-29;
