// Defined.
$white: #fff;
$black: #000;

$smoky-black: #0f0a0aff;
$isabelline: #f5efedff;
$blue-munsell: #2292a4ff;

$midnight-green-eagle-green: #074f57ff;
$keppel: #2ebfa5ff;
$lavender-web: #dde3f8;

// Names.
$main-color: $keppel;
$text-color: $lavender-web;
$heading-color: $keppel;
$bg-color: $midnight-green-eagle-green;
