*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: white;
  background-color: $black;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

.container {
  padding: 0 15px;
}