.animate {
  &--fade-in {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s ease-in, transform 0.5s linear;

    &.animated {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
